.mathpad-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .toolbar {
        border-bottom: 1px solid var(--background-modifier-border);

        padding: 4px;
        flex: 0;
        button {
            padding: 4px 8px;
        }
    }

    .mathpad-scroller {
        display: flex;
        flex-direction: column-reverse;
        overflow: auto;
        flex: 1;

        .mathpad-slots-container {
            display: flex;
            flex-direction: column;

            .slot-container {
                display: flex;
                position: relative;

                border-top: 1px solid var(--background-modifier-border);

                .slot-anchor {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 24px;
                    border-right: 1px solid var(--background-modifier-border);
                    justify-content: center;

                    .slot-name {
                        width: 100%;
                        text-align: center;
                        font-size: smaller;
                        color: var(--text-faint);
                    }

                    &:hover {
                        background-color: var(--background-modifier-border);
                    }
                }

                .slot-content {
                    flex: 1;
                    padding: 4px;
                    display: flex;
                    flex-direction: column;

                    .slot-input {
                        
                        line-height: 12px;
                        // padding: 4px;
                        mjx-container {
                            text-align: left;
                        }

                        .plain-input {
                            padding: 5px;
                            line-height: 12px;
                            height: 24px;
                            font-size: 16px;
                            // line-height: 12px;
                            // margin: 1px;
                            font-family: monospace;

                            &:hover {
                                background-color: var(--background-primary);
                            }
                        }
                    }

                    .slot-result {
                        .slot-error {
                            font-size: 12px;
                            color: var(--text-error);
                        }
                    }
                }
            }

            .slot-actions {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }
    }

    .current-input {
        border-top: 1px solid var(--background-modifier-border);
        padding-top: 16px;
        flex: 0;
    }

    .mathpad-input {
        // line-height: 1em;
        // height: 1em;
        font-size: 16px;
        line-height: 12px;
        height: 24px;
        padding: 4px;
        width: 100%;
        font-family: monospace;
    }
}
 
.mathpad-declaration {
    font-family: 'MathJax_Math'
}
