
// test
.mathpad-container {
    display: flex;
    flex-direction: column;
}

.mathpad-input {
    // line-height: 1em;
    // height: 1em;
    font-size: 16px;
    line-height: 36px;
    height: 40px;
    padding: 4px;
}

